azure_logic_app/logic-app-code-view.json
{
  "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "triggers": {
          "When_a_HTTP_request_is_received": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                  "schema": {
                      "type": "object",
                      "properties": {
                          "schemaId": {
                              "type": "string"
                          },
                          "data": {
                              "type": "object",
                              "properties": {
                                  "essentials": {
                                      "type": "object",
                                      "properties": {
                                          "alertId": {
                                              "type": "string"
                                          },
                                          "alertRule": {
                                              "type": "string"
                                          },
                                          "severity": {
                                              "type": "string"
                                          },
                                          "signalType": {
                                              "type": "string"
                                          },
                                          "monitorCondition": {
                                              "type": "string"
                                          },
                                          "monitoringService": {
                                              "type": "string"
                                          },
                                          "alertTargetIDs": {
                                              "type": "array",
                                              "items": {
                                                  "type": "string"
                                              }
                                          },
                                          "originAlertId": {
                                              "type": "string"
                                          },
                                          "firedDateTime": {
                                              "type": "string"
                                          },
                                          "resolvedDateTime": {
                                              "type": "string"
                                          },
                                          "description": {
                                              "type": "string"
                                          },
                                          "essentialsVersion": {
                                              "type": "string"
                                          },
                                          "alertContextVersion": {
                                              "type": "string"
                                          }
                                      }
                                  },
                                  "alertContext": {
                                      "type": "object",
                                      "properties": {}
                                  }
                              }
                          }
                      }
                  }
              }
          }
      },
      "actions": {
          "Initialize_variable": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                  "variables": [
                      {
                          "name": "AffectedResource",
                          "type": "array",
                          "value": "@split(triggerBody()?['data']?['essentials']?['alertTargetIDs'][0], '/')"
                      }
                  ]
              }
          },
          "Read_a_resource": {
              "runAfter": {
                  "Initialize_variable": [
                      "Succeeded"
                  ]
              },
              "type": "ApiConnection",
              "inputs": {
                  "host": {
                      "connection": {
                          "name": "@parameters('$connections')['arm']['connectionId']"
                      }
                  },
                  "method": "get",
                  "path": "/subscriptions/@{encodeURIComponent(variables('AffectedResource')[2])}/resourcegroups/@{encodeURIComponent(variables('AffectedResource')[4])}/providers/@{encodeURIComponent(variables('AffectedResource')[6])}/@{encodeURIComponent(concat(variables('AffectedResource')[7], '/', variables('AffectedResource')[8]))}",
                  "queries": {
                      "x-ms-api-version": "2023-09-01"
                  }
              }
          },
          "Create_a_new_issue_(V3)": {
              "runAfter": {
                  "Read_a_resource": [
                      "Succeeded"
                  ]
              },
              "type": "ApiConnection",
              "inputs": {
                  "host": {
                      "connection": {
                          "name": "@parameters('$connections')['jira']['connectionId']"
                      }
                  },
                  "method": "post",
                  "body": {
                      "fields": {
                          "summary": "@{triggerBody()?['data']?['essentials']?['severity']} Azure Monitor Alert - @{triggerBody()?['data']?['essentials']?['description']} on @{body('Read_a_resource')?['name']} (@{body('Read_a_resource')?['type']}) at @{formatDateTime(triggerBody()?['data']?['essentials']?['firedDateTime'], 'MM/dd/yyyy h:mm:ss tt UTC', 'en-CA')}",
                          "description": "h1. @{triggerBody()?['data']?['essentials']?['severity']} Azure Monitor Alert - @{triggerBody()?['data']?['essentials']?['description']} on @{body('Read_a_resource')?['name']} (@{body('Read_a_resource')?['type']}) at @{triggerBody()?['data']?['essentials']?['firedDateTime']}\n\n- [View the alert in Azure Monitor|https://portal.azure.com/#view/Microsoft_Azure_Monitoring_Alerts/AlertDetails.ReactView/alertId/@{encodeUriComponent(triggerBody()?['data']?['essentials']?['alertId'])}]\n\n- [Investigate with Azure Monitor Investigator (Preview)|https://portal.azure.com/#view/Microsoft_Azure_Monitoring_Alerts/Investigation.ReactView/alertId/@{encodeUriComponent(triggerBody()?['data']?['essentials']?['alertId'])}]\n\nh1. Summary\n\n- Alert Name: @{triggerBody()?['data']?['essentials']?['alertRule']}\n- Severity: *@{triggerBody()?['data']?['essentials']?['severity']}*\n- Monitor Condition: @{triggerBody()?['data']?['essentials']?['monitorCondition']}\n- Affected Resource: [@{body('Read_a_resource')?['id']}|https://portal.azure.com/#@bcgov.onmicrosoft.com/resource/@{body('Read_a_resource')?['id']}]\n- Resource Type: @{body('Read_a_resource')?['type']}\n- Resource Group: @{split(body('Read_a_resource')?['id'], '/')[4]}\n- Description: @{triggerBody()?['data']?['essentials']?['description']}\n- Monitoring Service: @{triggerBody()?['data']?['essentials']?['monitoringService']}\n- Signal Type: @{triggerBody()?['data']?['essentials']?['signalType']}\n- Fired Time: @{formatDateTime(triggerBody()?['data']?['essentials']?['firedDateTime'], 'MMMM dd, yyyy HH:mm UTC', 'en-CA')}\n- Alert ID: [@{split(triggerBody()?['data']?['essentials']?['alertId'], '/')[8]}|https://portal.azure.com/#view/Microsoft_Azure_Monitoring_Alerts/AlertDetails.ReactView/alertId/@{encodeUriComponent(triggerBody()?['data']?['essentials']?['alertId'])}]\n- Alert Rule ID: [https://portal.azure.com/#resource/@{triggerBody()?['data']?['essentials']?['alertId']}|https://portal.azure.com/#resource/@{triggerBody()?['data']?['essentials']?['alertId']}]"
                      }
                  },
                  "headers": {
                      "X-Request-Jirainstance": "https://citz-do.atlassian.net/"
                  },
                  "path": "/v3/issue",
                  "queries": {
                      "projectKey": "PCS",
                      "issueTypeIds": "10121"
                  }
              },
              "description": ""
          }
      },
      "outputs": {},
      "parameters": {
          "$connections": {
              "type": "Object",
              "defaultValue": {}
          }
      }
  },
  "parameters": {
      "$connections": {
          "type": "Object",
          "value": {
              "arm": {
                  "id": "/subscriptions/69946426-ca72-4a14-a79f-1cf558067722/providers/Microsoft.Web/locations/canadacentral/managedApis/arm",
                  "connectionId": "/subscriptions/69946426-ca72-4a14-a79f-1cf558067722/resourceGroups/azure-alert-processing-test/providers/Microsoft.Web/connections/arm",
                  "connectionName": "arm"
              },
              "jira": {
                  "id": "/subscriptions/69946426-ca72-4a14-a79f-1cf558067722/providers/Microsoft.Web/locations/canadacentral/managedApis/jira",
                  "connectionId": "/subscriptions/69946426-ca72-4a14-a79f-1cf558067722/resourceGroups/azure-alert-processing-test/providers/Microsoft.Web/connections/jira",
                  "connectionName": "jira"
              }
          }
      }
  }
}